/* Structure - work filters
   ========================================================================== */


/* General
   ========================================================================== */

.work__content__filters {
    max-width: 50rem;
    width: 100%;
    margin: 2rem auto;

    text-align: center;
}

.work__content__filters__link {
    width: 49%;
    margin-bottom: 1.5rem;
    display: inline-block;

    @media (min-width: $screen-xs-min) {
        width: 24%;
    }
}