/* Colors
   ========================================================================== */

$white:         #ffffff;
$black:         #000000;

$pink--light:   #f5d1c9;

$green--lightest: #c2ddbf;
$green--light:  #85BD7E;
$green:         #1A8850;
$green--darker: #135E38;

$greyblue--lightest: #eaebec;
$greyblue--light: #98a0a5;
$greyblue:      #363d42;
$greyblue--darker: #272c2f;

$bg-color:      $pink--light;
$text-color:    #363d42;